<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <base href="/">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    <h1 style="text-align: center;">
        PPW Story 8
    </h1>
    <h2 style="text-align: center;">
        My Profile
    </h2>

    <div class="accordion" id="accordionExample">
        <div class="card" id="acc1">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Current Activities
                    </button>
                    <button class="button" id="up1" name="up1" onclick="up(acc1)" style="position: absolute; right:12%; background-color:transparent; border:none;">Up</button>
                    <button class="button" id="down1" name="down1" onclick="down(acc1)" style="position: absolute; right:5%; background-color:transparent; border:none;">Down</button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Studying Online</li>
                        <li>Photography</li>
                        <li>Cooking</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card" id="acc2">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Organization Experience
                    </button>
                    <button class="button"  id="up2" name="up2" onclick="up(acc2)" style="position: absolute; right:12%; background-color:transparent; border:none;">Up</button>
                    <button class="button" id="down2" name="down2" onclick="down(acc2)" style="position: absolute; right:5%; background-color:transparent; border:none;">Down</button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <ul>
                      <li>A Leader of TALAM 38 in HighSchool</li>
                      <li>Coordinator field of Photamote (Photography club) in Highschool</li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="card" id="acc3">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Committee experience
                    </button>
                    <button class="button" name="up3" onclick="up(acc3)" style="position: absolute; right:12%; background-color:transparent; border:none;">Up</button>
                    <button class="button" name="down3" onclick="down(acc3)" style="position: absolute; right:5%; background-color:transparent; border:none;">Down</button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Staff of Documentation for COMPFEST XI</li>
                        <li>Staff of Documentatiom for Open House Fasilkom</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card" id="acc4">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Achievements
                    </button>
                    <button class="button" name="up4" onclick="up(acc4)" style="position: absolute; right:12%; background-color:transparent; border:none;">Up</button>
                    <button class="button" name="down4" onclick="down(acc4)" style="position: absolute; right:5%; background-color:transparent; border:none;">Down</button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>3rd Winner of a certain photography community</li>
                        <li>Heavy sleeper in family</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script type = "text/javaScript" src = "{% static 'js/bootstrap.min.js' %}"></script>


</body>
<script type="text/javascript">
    //###########ACCORDION#################
    function up(id) {
        var currAcc =  $(id);
        var prevAcc = currAcc.prev();
        if (prevAcc.length == 0)
        return;
    prevAcc.css('z-index', 999).css('position','relative').animate({ top: currAcc.height() }, 250);
    currAcc.css('z-index', 1000).css('position', 'relative').animate({ top: '-' + prevAcc.height() }, 300, function () {
        prevAcc.css('z-index', '').css('top', '').css('position', '');
        currAcc.css('z-index', '').css('top', '').css('position', '');
        currAcc.insertBefore(prevAcc);
    });
    }
    function down(id) {
        var currAcc = $(id);
        var nextAcc = currAcc.next();
        if (nextAcc.length == 0)
        return;
    nextAcc.css('z-index', 999).css('position', 'relative').animate({ top: '-' + currAcc.height() }, 250);
    currAcc.css('z-index', 1000).css('position', 'relative').animate({ top: nextAcc.height() }, 300, function () {
        nextAcc.css('z-index', '').css('top', '').css('position', '');
        currAcc.css('z-index', '').css('top', '').css('position', '');
        currAcc.insertAfter(nextAcc);
    });
    }

  </script>

</html>